html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 440px;
}

body {
    width: 160px
}

#myInput {
    width: 156px;
    margin: 0px;
    padding: 3px 0px;
}

footer {
    width: 160px;
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 40px;
    height: 40px;
}

.zero {
    width: 80px;
}

